.button--default{
    border-radius:100px;
    padding:15px 25px;
    color:white;
    width: fit-content;
    text-align: center;
    box-shadow: 0px 6px 12px -5px #838383;
    background-size: 200%;
    background-position: 100% 50%;
    background-color: $primary ;
    background-image: linear-gradient( $secondary , rgba(255,255,255,0));
    transition: background-color .25s, box-shadow .5s;
    cursor: pointer;

    &:hover{
        background-color: $secondary ;
        box-shadow: 0px 10px 12px -7px #b9b9b9;
    }
    &--small{
        width:100px;
    }
}

.flexcenter{
    display: flex;
    align-items: center;
    flex-direction: column;
}
 
.card--img{
    width: 100%;
    object-fit: cover;
    height: 70%;
    margin:0;
}
.card{
    width: 95%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 0;
    border-radius: 20px;
    position:relative;

    &--info{
        background-color: #fff;
        display: flex;
        justify-content:space-between;
        border-radius: 0 0 20px 20px;

        &--title{
            margin: 0;
            font-size: 19px;
            margin:0;
        }

        &--ville{
            font-size:17px;
            margin:0;
        }
        &--leftSide {
            padding: 15px;
        }
        &--heart{
            position: absolute;
            bottom: 37px;
            right: 24px;
        }
    }
}
